.content-section.learn-to-learn
  %h1.title.centered LEARN HOW TO LEARN
  %p.hook.centered.short In schools, students are expected to learn, but it seems we have forgotten to teach them how to. We teach what may be <b>the most important skill </b> that was never taught — how to learn.
  .call-to-action.centered
    = link_to 'OUR VISION OF EDUCATION', mission_path, class: 'button'
    = link_to 'CONTACT US!', mission_path, class: 'button'

.content-section
  .row.center-xs
    .col-xs-9
      %h1.centered WE GIVE STUDENTS A LEARNING ADVANTAGE
      %p.short.centered Success in understanding conepts, developing skills and solving problems is determined by how effectively you learn. This is why we teach learning skills — <b> it makes students better most their most important work. </b>
      .row.info-list
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge')
            .col-xs-9
              %h3 Overcome Limitations
              %p There exists no skill or concept to difficult to understand and master. We help students overcome limiting beliefs and poor learning habits that prevent them from achieving their goals. 
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge')
            .col-xs-9
              %h3 Accelerate Learning
              %p Recent scientific discoveries have made it clear that we can learn faster than ever imaginable. We teach scientificly proven learning strategies that foster deep, meaningful, and fast pace learning. 
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge'), class: 'img-full'
            .col-xs-9
              %h3 Enjoy the Experience
              %p When you learn with methods that are effective disintrest and bordom vanish. We make the learning experience joyfull for our students.
      .centered
        = link_to 'Importance of Learning', mission_path, class: 'button'

.content-section.teaching
  .row.center-xs
    .col-xs-9
      %h1.centered WE TEACH SKILLS THAT IMPACT ALL LEARNING
      %p.short.centered It is our mission to make learning easy and joyfull. We teach the key skills proven to impact the learning of <i>any subject</i>.
      .row.info-list
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered The Growth Mindset
            %p We teach what is called the Growth Mindset in the field of phycology. Through this lense, students see challanges and setbacks as inspiration and opportunities for improvement, not indication of intelligence or ability. 
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered The Art of Memory
            %p Unlike school has made it appear, learning is not as simple as memorizing a set of facts. But, of course, without memory no learning can occur. At the Academy, we have made memorizing <i>instant and trivial</i>, so students can finally focus on what's important: making sense of the knowledge.
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered Effective Meaning-Making
            %p To effectively understand difficult conepts, grow skills and solve problems we need effective thinking tools. We develop in our students the instruments of thinking nessessary to quickly make sense of new knowledge and experiences.
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered Metacognition: Thinking About Thinking
            %p The most successfull and effective people constantly improve their learning behaviours and habits of mind. This is why we teach students how to reflect on their own cognetive processes in order to adjust and perfect their learning strategies.
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered Master Mastery
            %p Most would not build a house without a finished foundation. So why do we push our students along before they understand the material fully? At the Academy we not only teach for mastery, but also show students how to attain it in any area.
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .image-25
            = image_tag asset_path('knowledge')
          .text
            %h3.centered Teach to Learn
            %p It is common knowledge that those who teach attain a deeper understading of the subject. This is why we teach students how to both learn and teach. The lens of teaching exposes gaps in knowledge and ecourages students to refine their understanding.
      .centered
        = link_to 'More About Learning', mission_path, class: 'button'

.content-section
  .row.center-xs
    .col-xs-9
      %h1.centered A SERIOUS AND SCIENTIFIC APPROACH TO EDUCATION
      - #FINALLY, A SERIOUS APPOACH TO EDUCATION
      %p.short.centered Opinions and guesswork are of no use when building a spacecraft. If we are to have a serious and effective education system, we can't rely on common <i>opinions and misconceptions</i>, but rather on methods <i>supported by scientific evidence and research</i>. 
      .row.info-list
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge')
            .col-xs-9
              %h3 Myths and Misconceptions
              %p Learning styles don't exist; endless repetition actually worsens memory; and more practice doesn't significantly improve ability. These are just a few common beliefs that research has shown to be innacurate. We disspel these myths so students can finally focus on what works.
        .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge')
            .col-xs-9
              %h3 Research and Evidence
              %p Groundbreaking studies have shown time and time again incredible
        .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-4
          .row
            .col-xs-3
              .img-full
                = image_tag asset_path('knowledge')
            .col-xs-9
              %h3 Cutting Edge Science
              %p To stay relevant in a world of change you must always adapt and improve. We are at frontier of human learning and development research, using the most recent discoveries and tools available improve our teaching methods. 

.content-section.teaching
  .row.center-xs
    .col-xs-9
      %h1.centered GIVE YOUR KIDS THE ADVANTAGE THEY NEED
      - #%p.short.centered With the right mindset, resources and mentorship anyone can master learning, and when they do their obstacles no longer seem insurmountable
      .row.info-list
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .row
                .col-xs-3
                  .img-full
                    = image_tag asset_path('knowledge')
                .col-xs-9
                  %h3 One on One Instruction
                  %p Research has proven time and time again the superiority of one to one instruction over classroom settings.
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .row
                .col-xs-3
                  .img-full
                    = image_tag asset_path('knowledge')
                .col-xs-9
                  %h3 Friendly and Knowledgeable Mentors
                  %p 
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .row
                .col-xs-3
                  .img-full
                    = image_tag asset_path('knowledge')
                .col-xs-9
                  %h3 8 Hours per Month
                  %p A generous 8 hour monthly plan
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .row
                .col-xs-3
                  .img-full
                    = image_tag asset_path('knowledge')
                .col-xs-9
                  %h3 Flexible Scheduling
                  %p We get it, life gets busy, this is why we allow you to makeup any hours you miss*
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .row
                .col-xs-3
                  .img-full
                    = image_tag asset_path('knowledge')
                .col-xs-9
                  %h3 Post Lesson Exercises
                  %p Continuous exposure to concepts is essential to learning ANY skill. This is why we provide customized exercises for 
                  
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          .centered.img-full
            = image_tag asset_path('knowledge')
          %h2.centered Alexander - Founder & CEO
          %p.short.centered <i>"I was born into a world that did not teach me how to learn. This must not be a problem the generations of the future face."</i>
          
          %p.centered.short Questions? Call Me At My <i>Cell</i> (310) 962-6575
          
          %p.centered <i>Or</i>
          
          %h2.centered WANT TO LEARN MORE?
          %p.centered.short We will reach out within <i>24 hours</i>.
          
          .row.info-list.center-xs
            .col-xs-9.col-sm-9.col-md-9.col-lg-9
              = form_for @lead do |f|
                = f.text_field :name, placeholder: 'Name' 
                = f.email_field :email, placeholder: 'Email' 
                = f.text_field :phone, placeholder: 'Phone' 
                
                .centered
                  = f.submit 'LEARN MORE', class: 'button'
